@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --color-background: var(--color-white);
    --color-foreground: var(--color-slate-900);
    --color-card: var(--color-white);
    --color-card-foreground: var(--color-slate-900);
    --color-popover: var(--color-white);
    --color-popover-foreground: var(--color-slate-900);
    --color-primary: var(--color-slate-900);
    --color-primary-foreground: var(--color-slate-50);
    --color-secondary: var(--color-slate-100);
    --color-secondary-foreground: var(--color-slate-900);
    --color-muted: var(--color-slate-100);
    --color-muted-foreground: var(--color-slate-500);
    --color-accent: var(--color-slate-100);
    --color-accent-foreground: var(--color-slate-900);
    --color-destructive: var(--color-rose-500);
    --color-destructive-foreground: var(--color-slate-50);
    --color-border: var(--color-slate-200);
    --color-input: var(--color-slate-200);
    --color-ring: var(--color-slate-400);

    --radius: 0.5rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@layer theme {
    .dark {
        --color-background: var(--color-zinc-950);
        --color-foreground: var(--color-zinc-50);
        --color-card: var(--color-zinc-950);
        --color-card-foreground: var(--color-zinc-50);
        --color-popover: var(--color-zinc-950);
        --color-popover-foreground: var(--color-zinc-50);
        --color-primary: var(--color-zinc-50);
        --color-primary-foreground: var(--color-zinc-900);
        --color-secondary: var(--color-zinc-800);
        --color-secondary-foreground: var(--color-zinc-50);
        --color-muted: var(--color-zinc-800);
        --color-muted-foreground: var(--color-zinc-400);
        --color-accent: var(--color-zinc-800);
        --color-accent-foreground: var(--color-zinc-50);
        --color-destructive: var(--color-rose-700);
        --color-destructive-foreground: var(--color-zinc-50);
        --color-border: var(--color-zinc-800);
        --color-input: var(--color-zinc-800);
        --color-ring: var(--color-zinc-300);
    }
}

@layer base {
    *,
    ::before,
    ::after {
        border-color: var(--color-border);
        font-family: system-ui;
    }
}

html,
body,
#root {
    height: 100%;
    min-height: 100vh;
    background: black;
}
