*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: DM Sans, sans-serif;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #131c31;

}

::-webkit-scrollbar-thumb{
    background-image: linear-gradient(#7eadfc, #131c13);
    border-radius: 10px;

}